<h3 inViewport (inViewportAction)="this.addClass($event)">Education</h3>

<div class="ed-main-wrapper">
  <div class="pic-weapper">
    <div class="overlay"></div>
    <img
      class="imgEd"
      inViewport
      (inViewportAction)="this.addClass($event)"
      src="assets/ed-2.png"
      alt="Education"
    />
  </div>
  <div class="ed-wrapper">
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="ed-item"
      *ngFor="let education of this.educations"
    >
      <div class="ed-item-name text-b">{{ education.name }}</div>
      <div class="ed-item-year text-b">{{ education.year }}</div>
      <a
        class="ed-item-type text-b"
        [attr.href]="education.ref"
        target="_blank"
      >
        {{ education.subtype }}
      </a>
    </div>
  </div>
</div>
