.ed-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pic-weapper img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 3px solid #ffc107;
  background-color: #ffc107;
}

.overlay {
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  border-radius: 150px;
  transition: 0.5s ease;
  background-color: rgba(251, 169, 44, 0.25);
}

div.pic-weapper:hover div.overlay {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .pic-weapper {
    display: none;
  }
}

.ed-item {
  max-width: 620px;
}

.ed-main-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.ed-item-name {
  font-size: 20px;
  /* background-color: #494949; */
  width: fit-content;
}

.ed-item-year {
  display: inline;
  /* background-color: #494949; */
  width: fit-content;
}

.ed-item-type {
  position: relative;
  color: #ffc107;
  text-decoration: none;
  display: inline;
  /* background-color: #494949; */
  width: fit-content;
}

.ed-item-type::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(250, 250, 250);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.ed-item-type:hover::before {
  transform: scaleX(1);
}

.imgEd,
.ed-item {
  visibility: hidden;
}

.imgEd.active {
  -webkit-animation-name: slideUpY;
  animation-name: slideUpY;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  visibility: visible;
}

.ed-item.active {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpX;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  visibility: visible;
}
