<header>
  <nav class="navigation-container">
    <div class="logo"></div>
    <div class="nav">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <div class="resume"></div>
    </div>
    <div class="burger"></div>
  </nav>
</header>
