<h3>About me</h3>

<div class="about">
  <div class="about_bulletpoints">
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="text text-b"
    >
      Enthusiastic guy with 10 years of experience in the IT industry. For the
      major part of my IT career, I have worked in the field of Quality
      Assurance but in my latest step I have moved to Front-end development.
      During my carreer I have gained a lot of experience working in agile/scrum
      methodology on complex products with millions of users.
    </div>
    <br />
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="text text-b"
    >
      My technology focus:
      <br />
      <span class="tech">
        <span class="skill">Angular</span>
        <span class="skill">TypeScript</span>
        <span class="skill">JavaScript</span>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Sass</span>
        <span class="skill">FireBase</span>
      </span>
    </div>
  </div>
</div>
