.about {
  padding: 25px;
}

.tech {
  font-family: monospace;
  font-weight: initial;
  color: #fba92c;
  display: flex;
  flex-wrap: wrap;
}

.tech .skill {
  margin-right: 15px;
}

.about_bulletpoints .text.inactive {
  visibility: hidden;
}

.about_bulletpoints .text.active {
  animation: 1s fadeIn ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
