<h3 inViewport (inViewportAction)="this.addClass($event)">About me</h3>

<div class="about">
  <div class="about_bulletpoints">
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="text text-b"
    >
      Enthusiastic guy with 10 years of experience in the IT industry. I started
      my IT carrier by working in the Quality Assurance specialty for 8 years,
      it all began with manual testing, but soon after that I started to get
      more and more exposure to test automation and by that, I started to
      increase my technical skills. Later down the line I was able to transition
      to a software development position and worked as a Frontend Engineer for 2
      years.
      <br />
      <br />
      During my career I have gained a lot of experience working in agile/scrum
      methodology on projects with complex architecture and millions of users,
      working closely with my team to deliver value to the production
      environment as soon as possible.
    </div>
    <br />
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="text text-b"
    >
      My technology focus:
      <br />
      <span class="tech">
        <span class="skill">Angular</span>
        <span class="skill">TypeScript</span>
        <span class="skill">JavaScript</span>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Sass</span>
        <span class="skill">FireBase</span>
      </span>
    </div>
  </div>
</div>
