.about {
  padding: 25px;
}

.tech {
  font-family: monospace;
  font-weight: initial;
  color: #ffc107;
  display: flex;
  flex-wrap: wrap;
  cursor: url("/assets/cursor.cur"), auto;
}

.tech .skill {
  padding: 7px;
}

.about_bulletpoints .text.inactive {
  visibility: hidden;
}

.about_bulletpoints .text.active {
  animation: 1s fadeIn ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.skill:hover {
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
  /* cursor: pointer; */
  background-size: 400% 400%;
  /* height: 100vh; */
}

.blob {
  position: absolute;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
