<h3>Portfolio</h3>

<div class="proj-wrapper">
  <div class="proj-wrapper-item project a">
    <img
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="proj-img bovada"
      src="assets/bovada-site-view.png"
      alt="bovada"
    />
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="proj-cont"
    >
      <div class="text text-b">
        My main Fronted related tasks was done on Sportsbook platform. At the
        time there was total of 5 different Sportsbook brand sites, each for a
        different region and with it's own design nuances, color palattes, and
        variations. The challenging part of this was the fact that all of these
        sites had to build from the same code, taking into consideration desktop
        and mobile views.
      </div>
    </div>
  </div>
  <div class="proj-wrapper-item project b">
    <div
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="proj-cont"
    >
      <div class="text text-b">
        The vital part of the platform was the betslip - a place where players
        could place their bets. Lots of my work revolved around design
        adjustments and work with components within the betslip. My favorite
        part was adding CSS animations, I felt that it really improved the UX
      </div>
    </div>
    <img
      inViewport
      (inViewportAction)="this.addClass($event)"
      class="proj-img bets"
      src="assets/bovada-betslip.png"
      alt="bovada"
    />
  </div>
</div>
