.proj-img.bets {
  margin-left: 40px;
  height: 300px;
}

.proj-wrapper-item {
  display: flex;
  flex-direction: row;
}

.proj-wrapper-item.project {
  display: flex;
  align-items: center;
}

.proj-img.bovada {
  height: 300px;
  margin-right: 40px;
}

.proj-img {
  border-radius: 15px;
  border: 3px solid #fba92c;
}

.proj-wrapper-item.project.b {
  flex-direction: row;
}

.proj-wrapper {
  padding: 25px;
}

@media only screen and (max-width: 1000px) {
  .proj-wrapper-item.project.b {
    flex-direction: column-reverse;
  }

  .proj-wrapper-item.project.a {
    flex-direction: column;
  }

  .proj-img.bets,
  .proj-img.bovada {
    margin: 25px;
    /* height: 300px; */
  }
}

.proj-cont.inactive {
  visibility: hidden;
}

.proj-cont.active {
  /* visibility: hidden; */
  animation: 1s fadeIn ease-in-out;

  /* visibility: visible; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.proj-img.bets.active {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpX;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.proj-img.bovada.active {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpY;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideUpY {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUpY {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
