.proj-img.bets {
  margin-left: 40px;
  height: 300px;
}

.proj-wrapper-item {
  display: flex;
  flex-direction: row;
}

.proj-wrapper-item.project {
  display: flex;
  align-items: center;
}

.proj-img.bovada {
  height: 290px;
  margin-right: 40px;
}

.proj-img.bets,
.proj-img.bovada {
  visibility: hidden;
}

.proj-img {
  cursor: zoom-in;
}

.proj-wrapper-item.project.b {
  margin-top: 50px;
  flex-direction: row;
}

.proj-wrapper {
  padding: 25px;
}

.text.text-b a {
  color: #ffc107;
}

@media only screen and (max-width: 1000px) {
  .proj-wrapper-item.project.b {
    flex-direction: column-reverse;
  }

  .proj-wrapper-item.project.a {
    flex-direction: column;
  }

  .proj-img.bets,
  .proj-img.bovada {
    margin: 25px;
    /* height: 300px; */
  }

  .proj-wrapper-item.project.b {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .proj-img.bovada {
    height: auto;
    width: -webkit-fill-available;
  }

  .proj-wrapper-item.project.b {
    margin-top: 0;
  }
}

.proj-cont {
  visibility: hidden;
}

.proj-cont.active {
  animation: 1s fadeIn ease-in-out;
  visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.proj-img.bets.active {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpX;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  visibility: visible;
}

.proj-img.bovada.active {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpY;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  visibility: visible;
}

@-webkit-keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideUpY {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUpY {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

.image-preview {
  right: 0;
  top: 0;
  background-color: #0e698fb0;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
  bottom: 0;
  padding: 15px;
  left: 0;
  cursor: pointer;
}

.image-preview img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
