.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideUp3 {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpX;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.prof {
  margin-left: 25px;
}

.prof img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 3px solid #fba92c;
  background-color: #fba92c;
}

.intro-wrapper {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .intro-wrapper {
    flex-direction: column;
  }

  .prof {
    margin-left: 0;
    justify-content: center;
    display: flex;
    padding: 25px 0;
  }
}

.text-b {
  padding: 0;
}

.long {
  font-size: 19px;
}

.my-name {
  font-size: 60px;
  line-height: 0.7;
  margin: 15px 0;
}

.yellow {
  color: #fba92c;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUpX {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
