<div class="intro-wrapper">
  <div class="intro">
    <h2>
      <div class="text-b yellow">Hi, my name is</div>
      <h1 class="my-name text-b slideUp">Gunars Lazdans</h1>
      <span class="text-b long"> I'm a </span>
      <span class="text-b long yellow">Front-end Developer</span>
      <span class="text-b long">
        focusing on creating web pages and their components using Angular and TypeScript</span
      ><br />
    </h2>
  </div>

  <div class="prof">
    <img src="assets/me-prof2.png" alt="Me" />
  </div>
</div>
