<div class="intro-wrapper">
  <div class="intro">
    <h2 class="slideUp">
      <div class="text-b" style="color: #fba92c">Hi, my name is</div>
      <h1 class="text-b" style="font-size: 60px">Gunars Lazdans</h1>
      <span class="text-b long"> I'm a </span>
      <span class="text-b long" style="color: #fba92c">Fronted Developer</span>
      <span class="text-b long">
        with powers of bringing designs to life and finding the best solutions
        to meet customer needs</span
      ><br />
      <!-- <span class="text-b long" style="margin-top: 15px; color: #fba92c"
        >Scroll down found out more</span
      > -->
    </h2>
  </div>

  <div class="prof">
    <img src="assets/me-prof2.png" alt="Me" />
  </div>
</div>
