.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideUp3 {
  -webkit-animation-name: slideUpX;
  animation-name: slideUpX;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.prof {
  margin-left: 25px;
  position: relative;
  width: 300px;
  height: 300px;
  flex: 1 0 auto;
}

.prof img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  position: absolute;
  /* border: 3px solid #fba92c; */
  /* background-color: #fba92c; */
}

.intro-wrapper {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .intro-wrapper {
    flex-direction: column;
  }

  .prof {
    margin-left: 0;
    justify-content: center;
    display: flex;
    padding: 25px 0;
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.text-b {
  padding: 0;
}

.long {
  font-size: 19px;
}

.my-name {
  font-size: 60px;
  line-height: 0.7;
  margin: 15px 0;
}

.yellow {
  color: #fba92c;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

.spinner {
  border-top: 4px solid #fba92c;
  border-bottom: 4px solid #ffffff;
  border-radius: 50%;
  position: absolute;
}

.spinner.v1 {
  width: 286px;
  height: 286px;
  animation: spin 3s linear infinite;
  margin: 7px;
}

.spinner.v2 {
  width: 294px;
  height: 294px;
  animation: spin2 3.5s linear infinite;
  margin: -3px;
}

.spinner.v3 {
  width: 300px;
  height: 300px;
  animation: spin 4s linear infinite;
}

.spinner.v4 {
  width: 310px;
  height: 310px;
  animation: spin2 5s linear infinite;
  margin: -5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
