main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1;
  /* background-size: 40px 40px; */
  background-position: 0 0, 20px 20px;

  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  /* background-color: #3565bb; */
  background-image: linear-gradient(#396ac3, #4e40b7);
}

.nav-container {
  position: fixed;
  width: -webkit-fill-available;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  height: 70px;
  transition: top 0.15s ease-out;
  z-index: 99;
  transition: background-color 500ms ease-in, box-shadow 100ms linear,
    top 100ms linear;
}

.wrapper {
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  row-gap: 10px;
}

.wrapper:nth-child(2n + 2) .content-container {
  visibility: hidden;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  border-radius: 15px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.wrapper:nth-child(2n + 2) .content-container.active {
  visibility: visible;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (min-width: 600px) {
  .nav-container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
  .wrapper {
    margin-top: 0;
  }
}

.nav-item {
  margin: 5px;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  color: #ffc107;
}

[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

@keyframes example {
  from {
    top: 0;
  }
  to {
    top: -70px;
  }
}

.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 9px 15px 0;
  position: fixed;
  right: 0;
  opacity: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  background-image: url(./assets/upper-27.svg);
}

.to-top:hover {
  background-color: rgba(255, 255, 255, 0.171);
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

.btn-resume {
  margin-left: 10px;
  font-weight: 500;
}

footer {
  text-align: center;
  color: white;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}

footer .me {
  color: #ffc107;
  font-weight: 500;
  cursor: pointer;
}

.hamburger-menu {
  position: fixed;
  z-index: 99;
}

@media only screen and (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }
  .to-top {
    margin: 0 35px 15px 0;
  }
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffc107;
  transition-duration: 0.25s;
  z-index: 100;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 99;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  text-align: end;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
