<h3>Work Experience</h3>
<mat-accordion>
  <mat-expansion-panel
    inViewport
    (inViewportAction)="this.addClass($event)"
    hideToggle
    *ngFor="let job of this.experiances; let i = index"
  >
    <mat-expansion-panel-header>
      <div class="header-main">
        <mat-panel-title class="header-title">
          {{ job.name }}
        </mat-panel-title>
        <mat-panel-description class="header-dates">
          <span>{{ job.date }}</span>
        </mat-panel-description>
      </div>
      <div class="place-industry">
        <a [href]="job.ref" target="_blank" class="place-title">
          "{{ job.place }}"
        </a>
        <div class="header-industry">- {{ job.industry }}</div>
      </div>
      <span>{{ job.location }}</span>
    </mat-expansion-panel-header>
    <p class="job-descr text-b" *ngFor="let duty of job.children">
      - {{ duty.name }}
    </p>
  </mat-expansion-panel>
</mat-accordion>
